
body{
    background-color: #B1A2BE;
    background-image: url(../img/esse.jpg) ;
    background-size: 40cm 17cm ;
    
    color:white;
    text-shadow: 0,5cm;
}
header{
    
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

 
    background-color: #2e2833;
    
}
.rodape{
    padding: 3%;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 2em;
    color: white;
    padding-right: 220px;
    border: 3px solid rgb(255, 255, 255);
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.767);
    text-shadow: 1px black;
}

h2{
    color: white;
    font-size: 1.5em;
    border: 3px solid white;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    text-shadow: black 0.1em 0.1em 0.2em;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* #menu ul li { 
    display: inline; 
    font-size: 1.2em;
} */
nav ul li {
    margin: 0 10px;
}

/* #menu ul li:last-child {
    margin-right: 0;
} */

/* #menu ul li a {     
    padding: 2px 10px; 
    display: inline-block;    
    text-decoration: none; 
    /* border-bottom:3px solid #EDEDED;  
    white-space: nowrap;
    color: #fff;
} */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}

.logo img{
    width: 50%;
    height: auto;
    max-width: 100%;
    
}
nav{
 width: 80%s;
}
main{
   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 20px;
}
section{
    padding: 20px;
}

footer{
    padding: 3%;
    background-color: rgb(0, 0, 0);
}

ul{
    background-color: rgba(255, 254, 254, 0.685);
    
}











.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}

figure{
    text-align: center;
    display: inline-block;
}

figure img{
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px black;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: rgb(255, 255, 255);
}

img{
    block-size: 15cm;
    border-radius: 0,8cm;
    box-shadow: 2cm black;
    border: 3px solid white;
    width: 250px;
    height: 250px;
}

