body{
    background-color: #B1A2BE;
    background-image: url(../img/esse.jpg) ;
    background-size: 40cm 17cm ;
    
    color:white;
    text-shadow: 0,5cm;
}
header{
    
    padding: 3%;
    display: flex;s
    justify-content: space-between;
    align-items: center;
}
#menu ul{
    padding: 0px;
    margin:0px ;
    list-style: none;
    display: flex;
}
#menu ul li{
    display: inline;
    font-size: 1em;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px white;
    white-space: nowrap;
    
}
.logo img{
    width: 80%;
    height: auto;
    max-width: 100%;
    
}
nav{
 width: 80%s;
}
main{
   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    
}
footer{
   
    padding: 3%;
    background-color: rgb(0, 0, 0);
}

ul{
    background-color: rgba(255, 254, 254, 0.685);
    
}

h2{
    color: white;
    font-size: 1.5em;
    border: 3px solid white;
}

h1{
    font-size: 2em;
    color: white;
    padding-right: 220px;
    border: 3px solid rgb(255, 255, 255);
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.767);
    text-shadow: 1px black;
}

.cabecalho{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    text-shadow: black 0.1em 0.1em 0.2em;
    
}

.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}

figure{
    text-align: center;
    display: inline-block;
}

figure img{
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px black;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: rgb(255, 255, 255);
}

img{
    block-size: 15cm;
    border-radius: 0,8cm;
    box-shadow: 2cm black;
    border: 3px solid white;
}