body{
    background-color: rgb(7, 2, 53);
    background-image: url(../img/taylorswifttheerastour.png ) ;
    background-size:  1500px;;
    background-repeat: no-repeat;
    color:white;
    text-shadow: 0,5cm;
}
header{
    
    padding: 3%;
    display: flex;s
    justify-content: space-between;
    align-items: center;
}
#menu ul{
    padding: 0px;
    margin:0px ;
    list-style: none;
    display: flex;
}
#menu ul li{
    display: inline;
    font-size: 1.2em;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px white;
    white-space: nowrap;
    
}
.logo img{
    width: 35%;
    height: auto;
    max-width: 100%;
    
}
nav{
 width: 80%s;
}
main{
   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    
}
footer{
   
    padding: 3%;
    background-color: rgb(110, 112, 241);
}

ul{
    background-color: rgb(0, 0, 0);
    
}

h2{
    background-color: rgba(51, 57, 114, 0.562);
    color: white;
    font-size: 1.5em;
    border: 3px solid white;
}

h1{
    font-size: 2em;
    color: white;
    padding-right: 220px;
    border: 3px solid rgb(255, 255, 255);
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(48, 48, 48, 0.486);
    text-shadow: 1px black;
}

.cabecalho{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
}

.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}

figure{
    text-align: center;
    display: inline-block;
}

figure img{
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px black;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: rgb(182, 179, 192);
}